/* Figma Styles of your File */
:root {
  /* Colors */
  --primary: #2cba56;
  --headercolor: #1a1a1a;
  --bodytextcolor: #4e4b66;
  --bodytextcolorwhite: #fafbfc;

  /* Fonts */
  --h1-font-family: SegoeUi-Bold, sans-serif;
  --h1-font-size: 61px;
  --h1-line-height: 120%;
  --h1-font-weight: 700;
  --h1-font-style: normal;
  --h4-font-family: SegoeUi-Bold, sans-serif;
  --h4-font-size: 20px;
  --h4-line-height: 120%;
  --h4-font-weight: 700;
  --h4-font-style: normal;
  --p1-font-family: SegoeUi-Regular, sans-serif;
  --p1-font-size: 16px;
  --p1-line-height: 150%;
  --p1-font-weight: 400;
  --p1-font-style: normal;
  --p2-font-family: SegoeUi-Regular, sans-serif;
  --p2-font-size: 20px;
  --p2-line-height: 150%;
  --p2-font-weight: 400;
  --p2-font-style: normal;
  --button-text-font-family: SegoeUi-Bold, sans-serif;
  --button-text-font-size: 16px;
  --button-text-line-height: 120%;
  --button-text-font-weight: 700;
  --button-text-font-style: normal;

  /* Effects */
}
